.modal-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-item__content {
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: auto;
  min-width: 50vw;
  min-height: 300px;
}

.modal-item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-item__close {
  margin: 0;
  line-height: 1;
  padding: 15px;
  border: 1px solid rgba(235, 30, 30, 0.3);
  border-radius: 10px;
  background-color: transparent;
  color: red;
  font-size: 32px;
  line-height: 65%;
}
